/* Styles for the coursework section */
#coursework {
    margin-left: 50px; 
    padding-left: 20px;
}

#coursework table {
    width: 100%;
    border-collapse: collapse;
}

#coursework th, #coursework td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left; 
}

#coursework th {
    background-color: black; 
}

#coursework td {
    background-color: black; 
}
