html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: red;
  overflow-y: auto;
} 

body {
  display: flex;
  position: relative;
}

#coursework {
    margin-left: 50px; 
    padding-left: 20px;
}

#coursework table {
    width: 100%;
    border-collapse: collapse;
}

#coursework th, #coursework td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left; 
}

#coursework th {
    background-color: black; 
}

#coursework td {
    background-color: black; 
}
